<h1> This is our post route </h1>

<div class="box-set">

  <ListFilter class="box"
    @filter={{action "filterByName"}}
    as |filteredResults|
    >
    <ul class="results">
      {{#each filteredResults as |resUnit|}}
        <li><PostListing @post={{resUnit}} /></li>
      {{/each}}
    </ul>
  </ListFilter>

  <RadioButton class="box"
    @filter={{action "filterByValid"}}
    as |filteredResults|
    >
    <h2><i>Here are radio group!</i></h2>
    <ul class="results">
      {{#each filteredResults as |resUnit|}}
        <li><PostListing @post={{resUnit}} /></li>
      {{/each}}
    </ul>
  </RadioButton>
</div>
{{outlet}}
