<h1> This is our post route </h1>

<!--
{{#each model as  |post|}}
  <h3>Name: {{ post.description }}</h3>
  <p> Code: {{ post.label }} </p>
  <p> By: {{ post.lang }}</p>
  <p> Status: {{ post.status }} </p>
  <p> Date Subitted: {{post.dateSubmitted}} </p>
{{/each}}
-->

<ListFilter
  @filter={{action "filterByName"}}
  as |filteredResults|
  >
  <!--
  <ul>
  {{#each filteredResults as |post|}}
    <li>{{post.description}}</li>
    <ol>
    {{#each post as |item|}}
      <li>{{item}}</li>
    {{/each}}
  </ol>
  {{/each}}
</ul>
-->
  <ul class="results">
    {{#each filteredResults as |post|}}
      <li><PostListing @post={{post}} /></li>
    {{/each}}
  </ul>
</ListFilter>
{{outlet}}
